:root{
  --header-controls-font-size: 2rem;
  --search-control-height: 36px;
  --list-control-height: 42px;

  --show-container-width: 80%;
  --episode-counter-height: 32px;
  --episode-counter-width: 150px;
  
  --episode-container-width: 450px;
  --episode-container-height: 550px;
  --episode-title-font-size: 1em;
}

html{
  font-size: 10px;
}

html, body {
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  color: black;
  margin: 0;
  padding: 0;
  background-color: #62B6CB;
}

h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}

.ui-panel{
  background-color: #1B4965;
  border-radius: 0 0 25px 25px;
  margin-bottom: 6rem;
  margin-left: 1px;
  margin-right: 1px;
  box-sizing: border-box;
}
.ui-container{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
}

.show-container{
  font-family: 'Poppins', sans-serif;
margin: 0 auto;
  width: var(--show-container-width);
  height: var(--show-container-height);
  background-color: #CAE9FF;
  border-radius: 25px 25px 15px 15px;
  margin-top: 2em;
  margin-bottom: 4em;
  padding-bottom: 3rem;
}

#root{                           /* used to fix the footer to the bottom of the page.... */
  flex: 1 0 auto;
}

.show-container:hover{
  cursor: pointer;
}

.show-title{
  font-size: 2.5rem;
  background-color: #1B4965;
  color: #62B6CB;
  border-radius: 25px 25px 0 0;
  text-align: center;
  padding: 1rem 0;
  border-bottom: double #CAE9FF 4px;
}

.show-title:hover {
  color: #CAE9FF;
}

.show-content-container {
  display: flex;
  flex-wrap: wrap;
}

.show-summary {
  color: #174f72;
    font-size: 2.2rem;
    padding: 0 2rem;
}

.show-summary p {
  margin: 1.5rem 0 0 0;
}

.image-stats-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;  
    background-color:  #1B4965;
}

.show-image{
   width: 200px;
    margin: 3rem 2rem;
    border-radius: 15px;
}

.show-stats{
  color: #1B4965;
  background-color: #62B6CB;
  width: 420px;
    margin-right: 2rem;
    margin-top: 4rem;
    margin: 3rem 2rem;
    font-size: 2.7rem;
    border-radius: 15px;
    align-self: flex-end;
}

.show-stats p {
  margin: 1rem;
}

.select-container{
  display: flex;
  flex-wrap: wrap;
}
.select-container,
.search-container{
  display: flex;
  padding: 2rem 0 2rem 2rem;
  margin: auto
}

#ep-count{
  font-size: var(--header-controls-font-size);
  background-color: #62B6CB;
  color:  #000;
  border-radius: 3px 3px 3px 3px;
  width: var(--episode-count-width);
  height: var(--episode-counter-height);
  text-align: center;
  vertical-align: center;
  margin-left: 10px;
  padding: 5px;
}

#view-shows-btn{
  font-size: var(--header-controls-font-size);
  background-color: #62B6CB;
  color:  #000;
  border-radius: 3px 3px 3px 3px;
  margin-right: 10px;
}

#show-select, #ep-select{
  height: var(--list-control-height);
  width: 380px;
  align-self: center;
  border-radius: 5px;
}


#ep-search{
  height: var(--search-control-height);
  margin-left: 10px;
  border-radius: 5px;
}

#show-select, #ep-select, #ep-search, #ep-count{
  font-size: var(--header-controls-font-size);
  background-color: #62B6CB;
}

.ep-title{
  font-family: 'Poppins', sans-serif;
  background-color: #1B4965;
  color: #62B6CB;
  border-radius: 25px 25px 0 0;
  text-align: center;
  padding: 1rem 0;
}

.ep-image{
  width: 90%;
  display: block;
  border-radius: 5px 5px 5px 5px;
  margin: 1.5em auto 0;
}

.ep-summary{
  font-size: 1.8rem;
  line-height: 1.2;
  margin: 0 4rem;
}

#all-episodes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex: 1 1 var(--episode-container-width);
  width: 80%;
  margin: 0 auto;
}

#all-shows{
  width: 80%;
  margin: 0 auto;
}

.ep-container{
  width: var(--episode-container-width);
  min-height: var(--episode-container-height);
  background-color: #CAE9FF;
  border-radius: 25px 25px 15px 15px;
  margin-top: 2em;
}



#footer{
  background-color: #1B4965;
  color:  #62B6CB;
  height: 70px;
  margin-top: 5rem;
  margin-left: 1px;
  margin-right: 1px;
  padding-bottom: 1px;
  bottom: 0px;
  padding:2rem 0.5rem;
  flex-shrink: 0;
  box-sizing: border-box;
  border-radius: 25px 25px 0 0;
}

#footer a, #footer a:link, #footer {
  text-decoration: none;
  color:  #62B6CB;
  text-align: center;
  padding-top: 2rem;
}

#footer a:hover{
  color:#CAE9FF;
}